@import "/css/normalize.css";
/* --------- Fonts --------- */
@font-face {
  font-family: 'elektra_medium_proregular';
  src: url('/fonts/elektra/elektra_medium_pro-webfont.eot');
  src: url('/fonts/elektra/elektra_medium_pro-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/elektra/elektra_medium_pro-webfont.woff2') format('woff2'), url('/fonts/elektra/elektra_medium_pro-webfont.woff') format('woff'), url('/fonts/elektra/elektra_medium_pro-webfont.ttf') format('truetype'), url('/fonts/elektra/elektra_medium_pro-webfont.svg#elektra_medium_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_proregular';
  src: url('/fonts/elektra/elektra_light_pro-webfont.eot');
  src: url('/fonts/elektra/elektra_light_pro-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/elektra/elektra_light_pro-webfont.woff2') format('woff2'), url('/fonts/elektra/elektra_light_pro-webfont.woff') format('woff'), url('/fonts/elektra/elektra_light_pro-webfont.ttf') format('truetype'), url('/fonts/elektra/elektra_light_pro-webfont.svg#elektra_light_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_medium_proitalic';
  src: url('/fonts/elektra/elektra_medium_pro_italic-webfont.eot');
  src: url('/fonts/elektra/elektra_medium_pro_italic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/elektra/elektra_medium_pro_italic-webfont.woff2') format('woff2'), url('/fonts/elektra/elektra_medium_pro_italic-webfont.woff') format('woff'), url('/fonts/elektra/elektra_medium_pro_italic-webfont.ttf') format('truetype'), url('/fonts/elektra/elektra_medium_pro_italic-webfont.svg#elektra_medium_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_light_probold';
  src: url('/fonts/elektra/elektra_light__pro_bold-webfont.eot');
  src: url('/fonts/elektra/elektra_light__pro_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/elektra/elektra_light__pro_bold-webfont.woff2') format('woff2'), url('/fonts/elektra/elektra_light__pro_bold-webfont.woff') format('woff'), url('/fonts/elektra/elektra_light__pro_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.elektra-m {
  font-family: 'elektra_medium_proregular';
}
.elektra-l {
  font-family: 'elektra_light_proregular';
}
.elektra-mital {
  font-family: 'elektra_medium_proitalic';
}
.elektra-lb {
  font-family: 'elektra_light_probold';
}
/* --------- Mixins --------- */
/* MIXINS */
.inlineblock {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* --------- Base --------- */
/* --------- Base --------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-size: 100.01%;
}
body {
  font: 14px/1.41 "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 1000px;
}
.wrapper .empty {
  position: relative;
  height: 238px;
}
footer {
  position: relative;
  margin-top: -238px;
  min-height: 238px;
}
/*--------Header--------*/
.header {
  position: relative;
  min-height: 120px;
  background: url("../img/head_bg.jpg") no-repeat 0 0 / cover;
}
.header__logo {
  width: 199px;
  height: 62px;
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
}
.contacts {
  position: absolute;
  right: 0;
  top: 25px;
}
.contacts__tel {
  display: block;
  font-family: 'elektra_light_proregular';
  font-size: 25px;
  color: #5c7b98;
  text-align: right;
}
.contacts__tel span {
  color: #00b9fe;
  font-family: 'elektra_light_probold';
  font-size: 14px;
  vertical-align: text-top;
}
.contacts__mail {
  display: block;
  font-family: 'elektra_light_proregular';
  font-size: 17px;
  color: #613993;
  text-align: right;
}
.contacts__mail:hover {
  text-decoration: underline;
}
/*------Menu---------*/
.nav {
  margin-bottom: 20px;
}
.nav__list {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  margin-top: -21px;
  margin-left: 15px;
}
.nav__list:before,
.nav__list:after {
  content: "";
  display: table;
}
.nav__list:after {
  clear: both;
}
.nav__item {
  position: relative;
  float: left;
}
.nav__item:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  background: url("../img/nav_dec.png") no-repeat left center;
  width: 18px;
  height: 40px;
  z-index: 1000;
}
.nav__item:first-child .nav__link {
  padding-left: 10px;
}
.nav__item:first-child .nav__link:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  background: url("../img/nav_dec_hover_first.png") no-repeat left center;
  width: 16px;
  height: 40px;
}
.nav__item:first-child .nav__link.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: -16px;
  background: url("../img/nav_dec_active_first.png") no-repeat left center;
  width: 16px;
  height: 40px;
  z-index: 10000;
}
.nav__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: -17px;
  background: url("../img/nav_decor_first.png") no-repeat left center;
  width: 17px;
  height: 42px;
}
.nav__item:last-child:after {
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  background: url("../img/nav_decor_last.png") no-repeat right center;
  width: 16px;
  height: 41px;
}
.nav__link {
  display: block;
  padding-right: 10px;
  padding-left: 28px;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.15);
  font-family: 'elektra_light_proregular';
  font-size: 15px;
  color: #5c7b98;
  line-height: 40px;
  text-align: center;
  z-index: 10000;
}
.nav__link.active {
  background-color: #00b9fe;
  color: #fff;
  pointer-events: none;
}
.nav__link.active:after {
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  background: url("../img/nav_dec_active.png") no-repeat left center;
  width: 16px;
  height: 40px;
  z-index: 10000;
}
.nav__link:hover {
  background-color: #dce6f0;
}
.nav__link:hover:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  background: url("../img/nav_dec_hover.png") no-repeat left center;
  width: 18px;
  height: 40px;
  z-index: 10000;
}
/*---------Sidebar----------*/
.toolbar {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  margin-bottom: 22px;
}
.toolbar:before,
.toolbar:after {
  content: "";
  display: table;
}
.toolbar:after {
  clear: both;
}
.toolbar__left {
  float: left;
  width: 715px;
}
.breadcrumbs__item {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
}
.breadcrumbs__item:before {
  content: ">";
  font-size: 12px;
  vertical-align: middle;
  color: #5c7b98;
}
.breadcrumbs__item:first-child:before {
  content: none;
}
.breadcrumbs__item:last-child .breadcrumbs__link {
  color: #5c7b98;
  cursor: default;
  text-decoration: none;
}
.breadcrumbs__link {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  font-family: 'elektra_light_proregular';
  font-size: 14px;
  color: #00b9fe;
  text-decoration: underline;
}
.toolbar__right {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  width: 285px;
  float: right;
}
.toolbar__right:before,
.toolbar__right:after {
  content: "";
  display: table;
}
.toolbar__right:after {
  clear: both;
}
.select-outer {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  float: left;
}
.pagination {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  float: right;
}
.pagination__item {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  margin-left: 5px;
}
.pagination__item:first-child {
  margin-left: 0;
}
.pagination__link {
  font-family: 'elektra_light_proregular';
  font-size: 15px;
  color: #00b9fe;
  text-decoration: underline;
}
.slct {
  position: relative;
  display: block;
  border: 1px solid #dae1eb;
  background-color: #fff;
  width: 133px;
  height: 25px;
  padding: 3px 0 0 6px;
  font-family: 'elektra_light_proregular';
  font-size: 14px;
  color: #5c7b98;
  /*обрезаем текст,чтобы не вылезал за рамку*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.slct:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 24px;
  background: #00b9fe url("../img/select_str.png") no-repeat center center;
}
.drop {
  display: none;
  padding: 5px;
  width: 133px;
  border: 1px solid #dae1eb;
  border-top: none;
  position: absolute;
  background: #fff;
  z-index: 100;
}
.drop__item {
  margin-bottom: 3px;
}
.drop__item:last-child {
  margin-bottom: 0;
}
.drop__link {
  padding-left: 2px;
  font-family: 'elektra_light_proregular';
  font-size: 14px;
  color: #5c7b98;
}
.drop__link.disabled {
  color: #bed1e3;
  cursor: default;
}
.page-content {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.page-content:before,
.page-content:after {
  content: "";
  display: table;
}
.page-content:after {
  clear: both;
}
.page-content__sidebar {
  float: left;
  width: 230px;
  margin-right: 30px;
}
.page-content__right {
  width: 740px;
  float: right;
}
.menu {
  width: 230px;
  margin-bottom: 25px;
}
.menu__item {
  border-bottom: 1px solid #dae1eb;
  margin-bottom: 1px;
}
.menu__item:last-child {
  border-bottom: 0;
}
.menu__link {
  display: block;
  overflow: hidden;
  width: 230px;
  background-color: #f7f7f7;
  padding: 4px 10px 4px 20px;
  line-height: 1.2;
  font-family: 'elektra_light_proregular';
  font-size: 15px;
  color: #5c7b98;
}
.menu__link:hover {
  background-color: #dce6f0;
}
.menu__link.active {
  background-color: #00b9fe;
  color: #ffffff;
}
.menu-drop {
  display: none;
}
.menu-drop__link {
  position: relative;
  padding-left: 35px;
}
.menu-drop__link:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 20px;
  background: url(../img/menu_str.png) no-repeat 0 0;
  width: 11px;
  height: 13px;
}
.catalog {
  margin-bottom: 40px;
}
.catalog__item {
  margin-bottom: 20px;
}
.catalog__link {
  display: block;
  padding: 30px 25px 15px 0;
  min-height: 160px;
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  border-top: 2px solid #dce3ec;
  border-right: 1px solid #dce3ec;
  border-bottom: 1px solid #dce3ec;
  border-left: 1px solid #dce3ec;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.catalog__link:before,
.catalog__link:after {
  content: "";
  display: table;
}
.catalog__link:after {
  clear: both;
}
.catalog__link:hover {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.15);
}
.catalog__item-img {
  display: block;
  position: relative;
  width: 193px;
  float: left;
}
.catalog__item-img img {
  display: block;
  margin: 0 auto;
  max-height: 110px;
  max-width: 140px;
}
.catalog__item-info {
  width: 520px;
  float: left;
}
.catalog__item-info__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'elektra_light_proregular';
  font-size: 15px;
  color: #00b9fe;
  font-weight: normal;
  text-decoration: underline;
}
.catalog__item-info__description {
  font-family: 'elektra_light_proregular';
  font-size: 14px;
  color: #5c7b98;
}
.about {
  margin-bottom: 80px;
}
.about__title {
  font-family: 'elektra_light_probold';
  font-size: 25px;
  color: #5c7b98;
}
.about__description {
  margin-bottom: 24px;
  font-family: 'elektra_light_proregular';
  font-size: 15px;
  color: #5c7b98;
}
/*--------Footer--------*/
.footer {
  background: #613993 url('../img/footer-bg.png') 0 0 repeat;
}
.footer__logo {
  position: absolute;
  top: 100px;
  left: 0;
  width: 139px;
  height: 44px;
}
.footer-nav {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  position: absolute;
  top: 60px;
  left: 255px;
}
.footer-nav:before,
.footer-nav:after {
  content: "";
  display: table;
}
.footer-nav:after {
  clear: both;
}
.footer-nav__list {
  width: 135px;
  float: left;
  margin-left: 55px;
}
.footer-nav__list:first-child {
  margin-left: 0;
}
.footer-nav__title {
  margin-bottom: 5px;
  font-family: 'elektra_light_probold';
  font-size: 15px;
  color: #fff;
}
.footer-nav__link {
  display: block;
  margin-bottom: 5px;
  font-family: 'elektra_light_proregular';
  font-size: 15px;
  color: #fff;
  text-decoration: underline;
}
.footer-nav__link:hover {
  text-decoration: none;
}
.footer-ico {
  position: absolute;
  top: 70px;
  right: 0;
}
.footer-app {
  margin-bottom: 25px;
}
.footer-social {
  margin-bottom: 25px;
}
.footer-app__item {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  margin-left: 3px;
}
.footer-app__item:first-child {
  margin-left: 0;
}
.footer-app__link {
  display: block;
  text-indent: -9999px;
  background: url("../img/sprites.png") no-repeat 0 0;
  width: 90px;
  height: 32px;
}
.footer-app__link-istore {
  background-position: 0 0;
}
.footer-app__link-gstore {
  background-position: -93px 0;
}
.footer-socials__item {
  display: inline !ie;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  margin-left: 5px;
}
.footer-socials__item:first-child {
  margin-left: 0;
}
.footer-socials__link {
  display: block;
  text-indent: -9999px;
  width: 42px;
  height: 42px;
  background: url("../img/sprites.png") no-repeat 0 0;
}
.footer-socials__link-vk {
  background-position: 0 -33px;
}
.footer-socials__link-fc {
  background-position: -52px -33px;
}
.footer-socials__link-tw {
  background-position: -103px -33px;
}
/*-------------------*/
