/* --------- Fonts --------- */

@import "fonts";

/* --------- Mixins --------- */

@import "mixins";
@import "/css/normalize.css";

/* --------- Base --------- */

@import "base";

/*--------Header--------*/

.header {
    position: relative;
    height: 120px;
    background: url(/img/head_bg.jpg) no-repeat 0 0;
    background-size: cover;
}

.header__logo {
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
}

.contacts {
    position: absolute;
    right: 0;
    top: 25px;
}

.contacts__tel {
    display: block;
    .elektra-l;
    font-size: 25px;
    color: #5c7b98;
    text-align: right;
    
    span {
        color: #00b9fe;
        .elektra-lb;
        font-size: 14px;
        vertical-align: text-top;
    }
}

.contacts__mail {
    display: block;
    .elektra-l;
    font-size: 17px;
    color: #613993;
    text-align: right;
    
    &:hover {
        text-decoration: underline;
    }
}



/*------Menu---------*/

.nav__list {
    .clearfix;
    margin-top: -21px;
    margin-left: 15px;
}

.nav__item {
    position: relative;
    float: left;
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -18px;
        background: url(../img/nav_dec.png) no-repeat left center;
        width: 18px;
        height: 40px;
        z-index: 1000;
    }
    
    &:first-child {
        .nav__link {
            padding-left: 10px;    
        }
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -17px;
            background: url(../img/nav_decor_first.png) no-repeat left center;
            width: 17px;
            height: 42px; 
        }
    }
    
    &:last-child {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -16px;
            background: url(../img/nav_decor_last.png) no-repeat right center;
            width: 16px;
            height: 41px; 
        }
    }
}

.nav__link {
    display: block;
    padding-right: 10px;
    padding-left: 28px;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.15);
    .elektra-l;
    font-size: 15px;
    color: #5c7b98;
    line-height: 40px;
    text-align: center;
    z-index: 10000;
    
    &.active {
        background-color: #00b9fe;
        pointer-events: none;
        
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -16px;
            background: url(../img/nav_dec_active.png) no-repeat left center;
            width: 16px;
            height: 40px;
            z-index: 10000;
        }
    }
    
    &:hover {
        background-color: #dce6f0;
        
        &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -18px;
        background: url(../img/nav_dec_hover.png) no-repeat left center;
        width: 18px;
        height: 40px;
        z-index: 10000;
        }

            &:first-child {
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -16px;
                    background: url(../img/nav_dec_hover_first.png) no-repeat left center;
                    width: 16px;
                    height: 40px; 
                }
            }
        }
    }


/*--------Main--------*/








/*--------Footer--------*/



/*-------------------*/

