/* --------- Fonts --------- */

@import "fonts";

/* --------- Mixins --------- */

@import "mixins";
@import "/css/normalize.css";

/* --------- Base --------- */

@import "base";

/*--------Header--------*/

.header {
    position: relative;
    min-height: 120px;
    background-image: linear-gradient(to right,#d9e4ef 0,#eef2f8 50%,#d9e4ef 100%);
    background-color: #dee7f1;
}

.header__logo {
    width: 199px;
    height: 62px;
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
}

.contacts {
    position: absolute;
    right: 0;
    top: 19px;
}

.contacts__tel {
    display: block;
    .elektra-l;
    font-size: 25px;
    color: #5c7b98;
    text-align: right;
    
    span {
        color: #00b9fe;
        .elektra-lb;
        font-size: 15px;
        vertical-align: text-top;
    }
}

.contacts__mail {
    display: block;
    .elektra-l;
    font-size: 17px;
    color: #613993;
    text-align: right;
    
    &:hover {
        text-decoration: underline;
    }
}

/*------Навигация---------*/

.nav {
    margin-bottom: 20px;
}

.nav__list {
    .clearfix;
    margin-top: -21px;
    margin-left: 15px;
}

.nav__item {
    position: relative;
    float: left;
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -18px;
        background: url("../img/nav_dec.png") no-repeat left center;
        width: 18px;
        height: 40px;
        z-index: 10;
    }
    
    &:first-child {
        .nav__link {
            padding-left: 10px; 
            
            &:hover {
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -16px;
                    background: url("../img/nav_dec_hover_first.png") no-repeat left center;
                    width: 16px;
                    height: 40px; 
                }    
            }
            
            &.active {
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -16px;
                    background: url("../img/nav_dec_active_first.png") no-repeat left center;
                    width: 16px;
                    height: 40px;
                    z-index: 10;
                }
            }
        }
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -17px;
            background: url("../img/nav_decor_first.png") no-repeat left center;
            width: 17px;
            height: 42px; 
        }
    }
    
    &:last-child {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -16px;
            background: url("../img/nav_decor_last.png") no-repeat right center;
            width: 16px;
            height: 41px; 
        }
    }
}

.nav__link {
    display: block;
    padding-right: 10px;
    padding-left: 28px;
    background-color: #f7f7f7;
    .box-shadow(0px 1px 0 0 rgba(0, 0, 0, 0.15));
    .box-shadowIE (0,1,#e3e3e3);
    .elektra-l;
    font-size: 15px;
    color: #5c7b98;
    line-height: 40px;
    text-align: center;
    z-index: 100;
    
    &.active {
        background-color: #00b9fe;
        color: #fff;
        pointer-events: none;

        &:hover {
            background-color: #00b9fe;
            cursor: default;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -16px;
                background: url("../img/nav_dec_active.png") no-repeat left center;
                width: 16px;
                height: 40px;
                z-index: 100;
            }
        }
        
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -16px;
            background: url("../img/nav_dec_active.png") no-repeat left center;
            width: 16px;
            height: 40px;
            z-index: 100;
        }
    }
    
    &:hover {
        background-color: #dce6f0;
        
        &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -18px;
        background: url("../img/nav_dec_hover.png") no-repeat left center;
        width: 18px;
        height: 40px;
        z-index: 100;
        }
        
    }
}

/*---------Sidebar----------*/

.toolbar {
    .clearfix;
    margin-bottom: 16px;
}

.toolbar__left {
    float: left;
    width: 715px;
}

.breadcrumbs__item {
    .inlineblock;
    
    &:before {
        content: ">";
        font-size: 12px;
        vertical-align: middle;
        color: #5c7b98;
    }
    
    &:first-child {
        &:before {
            content: none;    
        }
    }
    
    &:last-child {
        .breadcrumbs__link {
            color: #5c7b98;
            cursor: default; 
            text-decoration: none;
        }
    }
}

.breadcrumbs__link {
    .inlineblock;
    .elektra-l;
    font-size: 14px;
    color: #00b9fe;
    text-decoration: underline;
}

.toolbar__right {
    .clearfix;
    width: 285px;
    float: right;
    padding-left: 7px;
}

.select-outer {
    .inlineblock;
    float: left;
}

.pagination {
    .inlineblock;
    float: right;
    padding-top: 5px;
}

.pagination__item {
    .inlineblock;
    margin-left: 5px;

    &:first-child {
        margin-left: 0;
    }
}

.pagination__link {
    .elektra-l;
    font-size: 15px;
    color: #00b9fe;
    text-decoration: underline;
    
    &.active {
        color: #5c7b98;
        text-decoration: none;
    }
}

.slct {
    position: relative;
    display: block;
    border: 1px solid #dae1eb;
    background-color: #fff;
    width: 133px;
    height: 25px;
    padding: 3px 0 0 6px;
    .elektra-l;
    font-size: 14px;
    color: #5c7b98;
    /*обрезаем текст,чтобы не вылезал за рамку*/
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 24px;
        background: #00b9fe url("../img/select_str.png") no-repeat center center;
    }
}

.drop {
    display: none;
    padding: 5px;
    width: 133px;
    border: 1px solid #dae1eb;
    border-top: none;
    position: absolute;
    background: #fff;
    z-index: 100;
}

.drop__item {
    margin-bottom: 3px;

    &:last-child {
        margin-bottom: 0;
    }
}

.drop__link {
    padding-left: 2px;
    .elektra-l;
    font-size: 14px;
    color: #5c7b98;

    &.disabled {
        color: #bed1e3;
        cursor: default;
    }
}

.page-content {
    .clearfix;
}

.page-content__sidebar {
    float: left;
    width: 230px;
    margin-right: 30px;
}

.page-content__right {
    width: 740px;
    float: right;
}

/*Меню-аккордеон*/

.menu {
    width: 229px;
    margin-bottom: 25px;
}

.menu__item {
    border-bottom: 1px solid #dae1eb;
    margin-bottom: 1px;

    &:last-child {
        border-bottom: 0;
    }
}

.menu__link {
    display: block;
    overflow: hidden;
    width: 229px;
    background-color: #f7f7f7;
    padding: 8px 10px 4px 20px;
    line-height: 1.2;
    .elektra-l;
    font-size: 15px;
    color: #5c7b98;
    
    &:hover {
        background-color: #dce6f0;
    }
    
    &.active {
        background-color: #00b9fe;
        color: #ffffff;
    }
}

.menu-drop {
    display: none;
}

.menu-drop__link {
    position: relative;
    padding: 6px 15px 4px 31px;
    
    &:before {
        content: "";
        position: absolute;
        top: 11px;
        left: 18px;
        background: url("../img/menu_str.png") no-repeat 0 0;
        width: 11px;
        height: 13px;
    }
}

.catalog {
    margin-bottom: 33px;
}

/*Вид каталога линиями*/

.catalog__item {
    margin-bottom: 20px;
}

.catalog__link {
    display: block;
    padding: 30px 25px 15px 0;
    min-height: 160px;
    .clearfix;
    border-top: 2px solid #dce3ec;
    border-right: 1px solid #dce3ec;
    border-bottom: 1px solid #dce3ec;
    border-left: 1px solid #dce3ec;
    .transition(.3s);

    &:hover {
        .box-shadow (0px 1px 8px 0 rgba(0, 0, 0, 0.15));
    }
}

.catalog__item-img {
    display: block;
    position: relative;
    width: 193px;
    float: left;

    img {
        display: block;
        margin: 0 auto;
        max-height: 110px;
        max-width: 140px;
    }
}

.catalog__item-info {
    width: 520px;
    float: left;
}

.catalog__item-info__title {
    margin-top: 0;
    margin-bottom: 15px;
    .elektra-l;
    font-size: 15px;
    color: #00b9fe;
    font-weight: normal;
    text-decoration: underline;
}

.catalog__item-info__description {
    .elektra-l;
    font-size: 14px;
    color: #5c7b98;
}

.catalog__list-option {
    display: none;
}

.toolbar__bottom {
    .clearfix;
    display: none;
}
/*Вид каталога линиями END*/

/*Вид каталога сеткой*/

.catalog__list-grid {
    .clearfix;
    font-size: 0;
    margin-left: -25px;


    .catalog__item {
        .clearfix;
        .inlineblock;
        width: 230px;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .catalog__link {
        display: block;
        padding: 15px;
        min-height: 354px;
        width: 230px;
        .clearfix;
        border-top: 2px solid #dce3ec;
        border-right: 1px solid #dce3ec;
        border-bottom: 1px solid #dce3ec;
        border-left: 1px solid #dce3ec;
        .transition(.3s);

        &:hover {
            .box-shadow(0px 1px 8px 0 rgba(0, 0, 0, 0.15));
        }
    }

    .catalog__item-img {
        display: block;
        position: relative;
        height: 165px;
        width: 200px;
        float: none;

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            margin: auto;
            max-height: 130px;
            max-width: 170px;
        }
    }

    .catalog__item-info {
        width: 200px;
        float: none;
    }

    .catalog__list-option {
        display: block;
    }

    .catalog__item-info__description {
        display: none;
    }

    .catalog__item-option {
        .clearfix;
        .elektra-l;
        font-size: 14px;
        color: #5c7b98;
    }

    .catalog__item-key {
        width: 50%;
        float: left;
    }

    .catalog__item-value {
        width: 50%;
        float: right;
    }

    .toolbar__bottom {
        .clearfix;
        width: 740px;
        margin-left: 25px;
        display: block;
    }
}

/*О магазине*/

.about {
    margin-bottom: 71px;
}

.about__title {
    .elektra-lb;
    font-size: 25px;
    color: #5c7b98;
    margin: 0;
}

.about__description {
    margin-bottom: 18px;
    .elektra-l;
    font-size: 15px;
    color: #5c7b98;
}

/*Кнопка Наверх*/

.go-top {
    position: fixed;
    width: 78px;
    height: 34px;
    bottom: 292px;
    right: 201px;
    .inlineblock;
    background-color: #00b9fe;
    .elektra-lb;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    display: none;
    
    &:before {
        content: "";
        position: absolute;
        top: -5px;
        left: 32px;
        background: url("../img/go-top-trtop.png") no-repeat 0 0;
        width: 14px;
        height: 6px;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 32px;
        background: url("../img/go-top-trbot.png") no-repeat 0 0;
        width: 14px;
        height: 7px;
    }
}

/*--------Footer--------*/

.footer {
    background: #613993 url('../img/footer-bg.png') 0 0 repeat;
}

.footer__logo {
    position: absolute;
    top: 99px;
    left: 0;
    width: 139px;
    height: 44px;
}

.footer-nav {
    .clearfix;
    position: absolute;
    top: 59px;
    left: 258px;
}

.footer-nav__lists {
    .clearfix;
}

.footer-nav__items {
    float: left;
    width: 150px;
    margin-left: 12px;

    &:first-child {
        margin-left: 0;
    }
}

.footer-nav__title {
    margin-bottom: 5px;
    .elektra-lb;
    font-size: 15px;
    color: #fff;
}

.footer-nav__item {
    margin-bottom: 4px;
}

.footer-nav__link {
    display: block;
    .elektra-l;
    font-size: 15px;
    color: #fff;
    text-decoration: underline;
    
    &:hover {
        text-decoration: none;
    }
}

.footer-ico {
    position: absolute;
    top: 72px;
    right: 0;
}

.footer-app,
.footer-social {
     margin-bottom: 27px;
 }

.footer-app__item {
    .inlineblock;
    margin-left: 3px;

    &:first-child {
        margin-left: 0;
    }
}

.footer-app__link {
    display: block;
    text-indent: -9999px;
    background: url("../img/sprites.png") no-repeat 0 0;
    width: 90px;
    height: 32px;
}

.footer-app__link-istore { background-position: -93px 0; }

.footer-app__link-gstore { background-position: 0 0; }

.footer-socials__item {
    .inlineblock;
    margin-left: 5px;

    &:first-child {
        margin-left: 0;
    }
}

.footer-socials__link {
    display: block;
    text-indent: -9999px;
    width: 42px;
    height: 42px;
    background: url("../img/sprites.png") no-repeat 0 0;
}

.footer-socials__link-vk { background-position: 0 -33px; }

.footer-socials__link-fc { background-position: -52px -33px; }

.footer-socials__link-tw { background-position: -103px -33px; }

/*-------------------*/

@media screen and (max-width: 1400px) {
    .go-top {
        right: 2px;
    }
}